<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Admin tài khoản</title>
	<link rel="stylesheet" type="text/css" href="/css/admin-style.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <style type="text/css">
        .example{
            margin: 20px;
        }
    </style>
</head>
<body>
	<div class="header">
		<div class="left">
			<a href="#">
				<h3>Admin</h3>
			</a>
		</div>
		<div class="right">
			<a href="#" class="">
				<i class="fas fa-envelope"></i>
				<i class="far fa-bell"></i>
				<i class="fas fa-phone"></i>
			</a>

		</div>
	</div>
	<div class="main">
		<div class="sidebar">
			<div class="menu">
				<h3>Anh Tuấn</h3>
				
				<ul>
					<li><a href="#">Đơn hàng</a></li>
					<li><a href="http://127.0.0.1:5500/layouts/product.html">Sản phẩm</a></li>
					<li><a href="http://127.0.0.1:5500/layouts/account.html">Tài khoản</a></li>
					<li><a href="#">Cài đặt</a></li>
				</ul>
			</div>
		</div>
		<div class="content">
            <div class="search">
                <input type="" placeholder="Search" >
                <button>
                    Search
                </button>
            </div>
			<div class="example">
				<div class="container">
					<div class="row">
						<h2>Tài khoản</h2>
						<table class="table">
							<thead>
								<tr>
									<th>STT</th>
									<th>Tài khoản</th>
									<th>Ngày lập</th>
									
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>ahihi.gmail</td>
									<td>3</td>
									
								</tr>
								
								<tr>
									<td>2</td>
									<td>Ahihi.gmail</td>
									<td>2</td>
									
		 
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				 
			</div>

		</div>
	</div>
</body>
<script type="text/javascript" src="/js/script.js"></script>
</html>